<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="Win_aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=UAM-LB2-01\SQL2016;&#xD;&#xA;                           Initial Catalog = Db_Proyecto_Progra4;&#xD;&#xA;                           Integrated Security=True;"



                                                     />

    <add name="Sql_aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=ASUS-ROG\SQL_SERVER_1;
                           Initial Catalog = Db_Proyecto_Progra4;
                           Persist Security Info=True;
                           User ID = sa;
                           Password= 123456;"/>  
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SB" name="WCF_Proyecto_SVC.Contract.BD">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="WCF_Proyecto_SVC.Interface.IBD" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF_Proyecto_SVC/Contract/BD/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SB">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
