<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Win_aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=JORGE-PC\SQLEXPRESS;&#xD;&#xA;                           Initial Catalog = Db_Proyecto_Progra4;&#xD;&#xA;                           Integrated Security=True;"



                                                     />

    <add name="Sql_aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=UAM-LB3-19\SQL2016;&#xD;&#xA;                          Initial Catalog = Db_Proyecto_Progra4;&#xD;&#xA;                          Persist Security Info=True;&#xD;&#xA;                          User ID = sa;Password= 123456;"








                                             />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SB">
          <serviceDebug />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SB" name="Consumo_WCF.SVC.BDClient">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="SVC.IBD" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBD" />
        <binding name="BasicHttpBinding_IBD1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4050/BD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBD" contract="SVC.IBD"
        name="BasicHttpBinding_IBD" />
      <endpoint address="http://localhost:4050/BD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBD1" contract="ServiceReference1.IBD"
        name="BasicHttpBinding_IBD1" />
    </client>
  </system.serviceModel>
</configuration>